QCheckBox::indicator {
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: white white black black;
}
QCheckBox::indicator:checked {
    background-color: qradialgradient(spread:pad, 
                            cx:0.5,
                            cy:0.5,
                            radius:0.9,
                            fx:0.5,
                            fy:0.5,
                            stop:0 rgba(0, 255, 0, 255), 
                            stop:1 rgba(0, 64, 0, 255));
}
QCheckBox:checked, QCheckBox::indicator:checked {
    border-color: black black white white;
}
QCheckBox:checked {
    background-color: qradialgradient(spread:pad, 
                            cx:0.739, 
                            cy:0.278364, 
                            radius:0.378, 
                            fx:0.997289, 
                            fy:0.00289117, 
                            stop:0 rgba(255, 255, 255, 255), 
                            stop:1 rgba(160, 160, 160, 255));
}
